<mat-grid-list cols="2" rowHeight="2:1" class="header" gutterSize="16px">
  <mat-grid-tile style="padding-bottom: 50px;">
    <div class="text-container">
      <h1>
        DESCUBRE LAS PLANTAS Y SERVICIOS DE JARDINERÍA QUE SE ADAPTAN A TU ESTILO.
      </h1>
      <p>
        Explora nuestra amplia variedad de plantas tradicionalmente seleccionadas y servicios de jardinería diseñados
        para embellecer tus espacios y resaltar la naturaleza en tu vida.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container-img-mujer">
    <img
    class="img-mujer"
    alt="Ilustración de una mujer con plantas"
    src="../../../assets/imageBannerJardinera.jpg"
    />
  </mat-grid-tile>

  <mat-grid-tile class="gridStats">
    <button mat-raised-button color="primary" routerLink="/catalog">Comprar Ahora</button>
  </mat-grid-tile>
  <!-- <mat-grid-tile class="gridStats">
    <div class="stats-container">
      <div class="stats-item">
        <h3>200+</h3>
        <p>Marcas nacionales</p>
      </div>
      <span></span>
      <div class="stats-item">
        <h3>2,000+</h3>
        <p>Productos de alta calidad</p>
      </div>
      <span></span>
      <div class="stats-item">
        <h3>30,000+</h3>
        <p>Clientes satisfechos</p>
      </div>
    </div>
  </mat-grid-tile> -->
</mat-grid-list>




